html{
	padding-left: 10px;
	border-top: 8px solid #595959;
	background: rgb(234, 232, 219) url(background.png);
	color: #1a1a1a;
	font: 15px / 20px "pt-sans", sans-serif;
}

body{
	margin: 0 auto 20px;
	padding-left: 20px;
	min-width: 760px;
	max-width: 975px;
}

a{
	color: #005c7a;
}

h2{
	margin-top: 0;
	font-weight: normal;
	font-size: 21px;
}

hr{
	margin: 25px auto;
	width: 90%;
	border: none;
	border-top: 1px solid #999;
}

.content{
	background-color: #fbf9ed;
}

.right-shadow{
	-webkit-box-shadow: 2px 0px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 2px 0px 3px rgba(0,0,0,0.25);
	box-shadow: 2px 0px 3px rgba(0,0,0,0.25);
}

/* HEADER */
#header{
	padding: 10px 0;
}

#build, #contact #submit{
	float: right;
	margin: 5px 0;
	width: 390px;
	height: 45px;
	border-radius: 8px;
	background-color: #a6a49a;
	color: white;
	text-align: center;
	font-size: 21px;
	font-family: "chaparral-pro", sans-serif;
	line-height: 45px;
	cursor: pointer;
}

#contact{
	display: none;
	margin-bottom: 15px;
}

#contact #other{
	margin-left: 60%;
}

#contact form{
	float: left;
	width: 55%;
	text-align: right;
}

#contact form i{
	display: block;
	float: right;
}

#contact label{
	font-weight: bold;
}

#contact input{
	margin: 10px 0 5px 5px;
	width: 75%;
	text-indent: 10px;
	font: 15px / 20px "pt-sans", sans-serif !important;
	line-height: 25px;
}

#contact textarea{
	width: 100%;
	height: 160px;
	font: 15px / 20px "pt-sans", sans-serif !important;
}

#contact #submit{
	padding: 0;
	width: 90px;
	height: 35px;
	border: none;
	text-indent: 0;
}

#cancel_contact{
	float: right;
	margin-right: 20px;
	line-height: 45px;
}

/* NAVIGATION */
ul.menu{
	margin: 0;
	font-size: 16px;
	line-height: 60px;
}
.menu li{
	display: inline;
	padding: 5px 10px;
	border-radius: 5px;
	color: #424242;
	font-weight: bold;
}

.menu li:hover{
	background-color: #dfddd1;
}

.menu a{
	color: inherit;
	text-decoration: none;
}

li.current, li.current:hover{
	background-color: #666;
	color: white;
}

/* SLIDESHOW */
#slideshow{
	overflow: hidden;
	height: 305px;
	border-bottom: 1px solid #93928c;
}

#slides{
	position: relative;
	bottom: 310px;
	left: 975px;
	width: 975px;
}

#slideshow #vignette{
	position: relative;
	bottom: 310px;
	z-index: 1;
	display: block;
	height: 305px;
	-webkit-box-shadow: inset 0px -2px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px -2px 3px rgba(0,0,0,0.25);
	box-shadow: inset 0px -2px 3px rgba(0,0,0,0.25);
}

.slide{
	display: block;
	margin-bottom: -305px;
	height: 305px;
	 -webkit-transition: margin-left 500ms ease-in;
     -moz-transition: margin-left 500ms ease-in;
     -ms-transition: margin-left 500ms ease-in;
     -o-transition: margin-left 500ms ease-in;
     transition: margin-left 500ms ease-in;
}

.slide.shown{
	margin-left: -975px;
}

.slide .title{
	position: relative;
	top: -40px;
	display: none;
	margin-bottom: -40px;
	height: 40px;
	background-color: rgba( 0,0,0,0.75);
	color: white;
	text-indent: 20px;
	font-weight: bold;
	line-height: 40px;
}

#controls{
	position: relative;
	right: 20px;
	bottom: 40px;
	z-index: 2;
	display: none;
	float: right;
	color: white;
	font-size: 16px;
	line-height: 40px;
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#controls .disabled{
	color: #666;
}

/* SIDEBAR */
#sidebar{
	color: #666;
	font-size: 13px;
	line-height: 16px;
}

#sidebar ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li{
	margin: 0 0 15px;
	word-wrap: break-word;
}

#sidebar > div{
	float: left;
}

#sidebar .bar{
	margin-left: 10px;
	padding: 25px 10px 25px;
	width: 190px;
	border-bottom: 1px solid #bbbaae;
}

#sidebar .bar > div{
	margin-top: 10px;
}

#store img{
	float: none;
	margin: 0 !important;
	width: 170px;
}

#newsletter input{
	margin: 0;
	padding: 5px;
	width: 170px;
	border: none;
	background-color: #c1beae;
	color: #666;
	font-style: italic;
	font-size: 13px;
}

#newsletter #submit{
	margin: 10px 0 0 2px;
	padding: 0;
	background: none;
	color: #005c7a;
	text-align: left;
	text-decoration: underline;
	font-style: normal;
	cursor: pointer;
}

/* FOOTER */
#footer{
	clear: both;
	padding: 20px 40px;
	background-color: #57544f;
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
	color: #d1cfc5;
	font-size: 12px;
}

/* INDEX */
#home{
	float: left;
	width: 755px;
	height: 100%;
	background-color: white;
}

.explain{
	clear: left;
}

.ribbon{
	margin: 0 0 -14px -25px;
	width: 100%;
	height: 61px;
	background: url(ribbon.png) left top no-repeat;
}

.ribbon span{
	display: block;
	margin-left: 25px;
	width: 100%;
	border-top: 5px solid #8c8b86;
	background-color: #a6a499;
	color: white;
	text-indent: 40px;
	font: 21px / 42px "chaparral-pro", sans-serif;
}

.horizontal{
	position: relative;
	z-index: 2;
	float: left;
	min-width: 200px;
	width: 33.333%;
	background-color: white;
}

.horizontal.open{
	margin-bottom: -1px;
	border-bottom: 1px solid white;
}

.horizontal.closed{
	background-color: #fbf9ed;
     -webkit-transition: all 250ms linear;
     -moz-transition: all 250ms linear;
     -ms-transition: all 250ms linear;
     -o-transition: all 250ms linear;
     transition: all 250ms linear;
}

.horizontal .graphic{
	font-weight: bold;
	font-size: 30px;
	line-height: 85px;
}

.more{
	cursor: pointer;
}

.graphic.more div{
	float: left;
	margin-right: 10px;
	width: 62px;
	height: 85px;
	background-position: left center;
	background-repeat: no-repeat;
}

.expand{
	margin-top: 25px;
	color: #005c7a;
	font-weight: bold;
	line-height: 11px;
	cursor: pointer;
	background: url(expand.png) right top no-repeat;
}

.explain .expand{
	text-align: right;
	padding-right: 60px;
}

.expand:hover{
	background-position-y: bottom;
	color: black;
}

.expand span{
	font-size: 12px;
}

.explain .horizontal:hover .expand{
	visibility: visible;
}

.horizontal .text, .hidden{
	margin: 20px 0 30px 20px;
	padding: 0 20px 0 0;
	border-right: 1px solid #ddd;
}

.horizontal.open .text, .text.before{
	margin: 20px 0 0 20px;
	padding: 0 20px 30px 0;
}

.hidden{
	z-index: 1;
	display: none;
	clear: left;
	margin-bottom: 0;
	padding: 10px 140px 20px 0;
	border-top: 1px solid #ddd;
	border-right: none;
	background-position: right center;
	background-repeat: no-repeat;
}

.vertical_group{
	padding: 15px 270px 15px 40px;
	background: url(screenshot.png) right bottom no-repeat;
}

.vertical_group h2{
	margin: 30px 0 -10px;
	color: #404040;
}

#mini_portfolio{
	padding: 20px 0 20px 30px; 
}

.mini_portfolio{
	float: left;
	margin: 20px 10px;
	width: 325px;
	height: 70px;
	cursor: pointer;
}

.mini_portfolio:hover{
	border-bottom-color: black;
}

.mini_portfolio p{
	margin: 17px 0 0 0;
	color: #404040;
	font-size: 13px;
	line-height: 18px;
}

.mini_image{
	float: left;
	margin: -5px 10px -5px;
	width: 70px;
	height: 70px;
	background-position: center center;
	background-size: cover;
	border: solid #a6a499 2px;
}

/* PORTFOLIO */
#featured{
	padding-right: 25px;
}

.featured{
	float: left;
	margin: 25px 0 75px 25px;
	width: 289px;
	height: 205px;
	border: 1px solid #ddd;
}

.featured p{
	display: block;
	margin: 10px 0 0;
	color: #333;
	text-align: center;
	font-size: 16px;
}

.featured .big_image{
	height: 185px;
	border: 10px solid white;
	background-position: left center;
	background-size: cover;
}

#more_button{
	margin-top: 25px;
	padding-top: 25px;
	height: 40px;
	border-top: 1px solid #ddd;
	background-color: #fbf9ed;
}

#more_button .expand{
	margin: auto;
	width: 200px;
}

#all{
	display: none;
	padding: 0 80px;
	background-color: #fbf9ed;
}

.all{
	margin-bottom: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

.all img{
	width: 100%;
}

/* PROJECT */
#intro{
	padding-left: 25px;
	background-color: white;
}

#features{
	float: right;
	overflow: hidden;
	margin-left: 25px;
	width: 640px;
}

.feature{
	position: relative;
	left: 640px;
}

.feature.shown{
	left: 0;
}

.feature p{
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 10px;
	width: 620px;
	background-color: rgba(0,0,0,0.75);
	color: white;
}